@import './src/reset';

//$mainColor : #ff0000;
//
//.blue {
//  color: $mainColor;
//}


// Selector

div.container h4 {
  color: blue;
}

div.container p {
  color: green;
}

// Nesting
$mainColor : #ff0000;

.red {
  color: $mainColor;
}

@mixin func() {
  background: #eeeeee;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  margin: auto;
  p {
    margin-bottom: 0;
  }
}

.my-alert {
  @include func();
}

.my-alert-red {
  @extend .my-alert;
  background: #fa8072;
}

.wow-enter {
  opacity: 0;
}

.wow-enter-active {
  opacity: 1;
  transition: all 500ms;
}
